@model List<ToDoList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="card">
	<div class="card-header">
		<div class="card-title">To Do List</div>
	</div>
	<div class="card-body">
		<table class="table table-striped mt-3">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Date</th>
					<th scope="col">Status</th>
					<th scope="col">Update</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.ToDoListId</td>
						<td>@item.Title</td>
						<td>@item.Date</td>					
 						@if (item.Status == true)
						{
							<td><a href="/ToDoList/ChangeStatusFalse/@item.ToDoListId" class="btn btn-outline-info"> True </a></td>
						}
						else
						{
                            <td><a href="/ToDoList/ChangeStatusTrue/@item.ToDoListId" class="btn btn-outline-dark">False</a></td>
						}
						<td><a href="/ToDoList/UpdateToDoList/@item.ToDoListId" class="btn btn-success" />Update</td>
						<td><a href="/ToDoList/DeleteToDoList/@item.ToDoListId" class="btn btn-danger" />Delete</td>
					</tr>
				}
			</tbody>
		</table>
		<a href="/ToDoList/AddToDoList" class="btn btn-primary">Add<a/>
	</div>
</div>

